<script type="text/javascript">



    $('.chosen-select').chosen({
        no_results_text: "Nada encontrado:",
        placeholder_text_single: "Selecione ou digite uma opção",
        search_contains: true,
        width: '450px'
    });

    $(function() {
        $('#lancamento').dataTable({
            "iDisplayLength": 10,
            "ordering":  false,
            "aaSorting": [],
            "bLengthChange":false,
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });

    });


</script>


<h3> Busca de Lançamentos </h3>
<%= form_tag result_path, method: :get do %>
    <table class="table">
    <tr>
      <td>Numero do processo:  <%= text_field_tag :processo %></td>
      <td>Fornecedor:  <%= select_tag :fornecedor_id, options_for_select(Fornecedor.all.order("nome").map{|forn| [forn.nome, forn.id]}), include_blank: true , class: 'chosen-select' %></td>
      <td>Conta:  <%= select_tag :conta_id,options_for_select(Conta.where(ativo: true).map{|cdeb| ["#{cdeb.numero} - #{cdeb.nome}", cdeb.id]}), include_blank: true , class: 'chosen-select' %></td>
    </tr>

    <tr>
      <td>Item de despesa: <%= select_tag :item_de_despesa_id,options_for_select(ItemDeDespesa.all.order("nome").map{|ides| [ides.nome, ides.id]}), include_blank: true, class: 'chosen-select' %></td>
      <td>Tipo de Compra: <%= select_tag :tipo_de_compra_id, options_for_select(TipoDeCompra.all.order("nome").map{|tc| [tc.nome, tc.id]}), include_blank: true, class: 'chosen-select' %> </td>
      <td> <%= check_box_tag :debito_canc, "Sim" %> <%= label_tag(:tudo, "Apenas débitos cancelados") %>  </td>
    </tr>
    <tr>
      <td>Item de receita:<%= select_tag :item_de_receita_id,options_for_select(ItemDeReceita.all.order("nome").map{|irec| [irec.nome, irec.id]}), include_blank: true, class: 'chosen-select' %></td>
      <td> A partir de: <%= date_field_tag :inicio %>  até: <%= date_field_tag :fim %> </td>
      <td> Espécie de conta: <%=  select_tag :especie, options_for_select(["Ativas", "Inativas"]), include_blank: true, class: 'chosen-select' %>   </td>
    </tr>
    </table>

    <%= submit_tag "Enviar", class:'btn btn-primary active' %>

<% end %>