<p>
  <strong>Tipo:</strong>
  <%= @lancamento.tipo %>
</p>


<p>
  <strong>Conta:</strong>
  <%= @lancamento.conta.numero %> - <%= @lancamento.conta.nome %>
</p>

<p>
  <strong>Processo:</strong>
  <%= @lancamento.processo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @lancamento.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data do documento:</strong>
  <%= @lancamento.datadocumento.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @lancamento.observacao %>
</p>

<p>
  <strong>Débito:</strong>
  <%= number_to_currency(@lancamento.debito) %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @lancamento.fornecedor.nome if !@lancamento.fornecedor_id.nil? %>
</p>

<p>
  <strong>Item de despesa:</strong>
  <%= @lancamento.item_de_despesa_id.nil? ? "Transferência" : @lancamento.item_de_despesa.nome %>
</p>

<p>
  <strong>Tipo de compra:</strong>
  <%= @lancamento.tipo_de_compra.nome if !@lancamento.tipo_de_compra_id.nil? %>
</p>

<p>
  <strong>Número da nota fiscal:</strong>
  <%= @lancamento.num_notafiscal %>
</p>

<p>
  <strong>Empenho:</strong>
  <%= @lancamento.empenho %>
</p>
<%= form_for(@lancamento) do |f| %>
    <% if @lancamento.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lancamento.errors.count, "error") %> prohibited this lancamento from being saved:</h2>
          <ul>
            <% @lancamento.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.check_box :debito_cancelado %>
      <%= f.label :debito_cancelado %>
    </div>
    <div class="form-group">
      <%= f.label :retorno_debitocanc, "Retorno de débito cancelado" %><br>
      <div class="input-group">
        <div class="input-group-addon"> R$</div>
        <%= f.number_field :retorno_debitocanc, class: 'form-control' %>
      </div>
    </div>


  <div class="actions">
    <%= f.submit "Enviar", class: 'btn btn-primary active' %>
  </div>
<% end %>
