<script type="text/javascript">


  $('#nova_busca').click(function(event) {
      $('#painel').show("slow");
      event.preventDefault();
  });
</script>

<div id="painel" style="display: none">
  <%= render partial: "busca" %>
</div>


<%= link_to "Nova busca", "#", id: "nova_busca", class: "btn btn-link" %>



<table id="lancamento" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th class="text-center">Processo</th>
    <th class="text-center">Conta</th>
    <th class="text-center"> Centro de Custo </th>
    <th class="text-center"> Tipo de Compra</th>
    <th class="text-center">Data</th>
    <th class="text-center">Fornecedor</th>
    <th class="text-center">Item de  receita/despesa</th>
    <th class="text-center">Credito</th>
    <th class="text-center">Debito</th>
    <th class="text-center">Débito cancelado</th>


  </tr>
  </thead>
  <tbody>
  <% @lancamentos.each do |lancamento| %>
      <tr>
        <td><%= lancamento.processo if !lancamento.processo.nil? %></td>
        <td><%= lancamento.conta.numero %> - <%= lancamento.conta.nome %> </td>
        <td><%= lancamento.conta.centro_de_custo.nome %></td>
        <td><%= lancamento.tipo_de_compra.nome if !lancamento.tipo_de_compra.nil? %> </td>
        <td><%= lancamento.data.strftime("%d/%m/%Y") %></td>
        <td><%= lancamento.fornecedor.nome if !lancamento.fornecedor.nil? %> </td>
        <td>
          <% if lancamento.tipo == "Crédito" %>
              (R) <%=  lancamento.item_de_receita_id.nil? ? "Transferência" : lancamento.item_de_receita.nome %>
          <% else %>
              (D) <%= lancamento.item_de_despesa_id.nil? ? "Transferência" : lancamento.item_de_despesa.nome %>
          <% end %>
        </td>
        <td><%= number_to_currency(lancamento.credito) %></td>
        <td><%= number_to_currency(lancamento.debito) %></td>
        <td class="text-center align-middle"><%= lancamento.debito_cancelado == true ? "Sim" : "Não"  if !lancamento.debito.nil? %>   </td>

      </tr>
  <% end %>
  </tbody>
</table>

<p>
  (R): Receita <br>
  (D): Despesa
</p>

