<script type="text/javascript">


  $('form').submit(function(e) {

      if ($('#data').val() == "")  {
          alert("Coloque uma data");
          e.preventDefault(e);
          $('#data').focus();
      } else if ($('#datadocumento').val() == "") {
          alert("Coloque a data do documento");
          e.preventDefault(e)
          $('#datadocumento').focus();
      } else if ($('#debito_id').val() == "") {
          alert("Escolha uma conta para débito");
          e.preventDefault(e);
          $('#conta_deb').css({"font-weight": "Bold"});
      } else if ($('#valor').val() == "") {
          alert("Digite o valor");
          e.preventDefault(e);
          $('#valor').focus();
      } else if ($('#cred1').val() == "") {
          alert("Escolha a partir da primeira linha para credito");
          e.preventDefault(e);
          $('#cred1_tit').css({"font-weight" : "Bold"});
      } else if ($('#porc1').val() == "") {
          alert("Digite a porcentagem do valor que quer transferir para essa conta");
          e.preventDefault(e);
          $('#porc1').focus();

      }
  });

    $('.chosen-select').chosen({
        no_results_text: "Nada encontrado:",
        placeholder_text_single: "Selecione ou digite uma opção",
        search_contains: true,
        width: '450px'
    });

</script>


<h1> Transferência múltipla </h1>

<%= form_tag(gera_transf_multipla_path, method: "get") do  %>
    <p>
      Data <br>
      <%= date_field_tag :data %>
    </p>
    <p>
      Data do documento <br>
      <%= date_field_tag :datadocumento %>
    </p>

    <p id="conta_deb">
      Conta de débito <br>
      <%= select_tag :debito_id, options_for_select(Conta.where(ativo: true).map{|cdeb| ["#{cdeb.numero} - #{cdeb.nome}", cdeb.id]}), {include_blank: true , class: 'chosen-select'} %>
    </p>

    <p> Valor <br>
    <div class="input-group">
      <div class="input-group-addon"> R$ </div>
      <%= number_field_tag :valor, nil, step: :any,  class:'form-control' %>
    </div>
    </p>

    <p> Observação <br>
       <%= text_area_tag :observacao,"",   class: 'form-control' %>
    </p>

    <table  class="table table-bordered">
      <thead>
      <tr>
        <td class="text-center"> Conta</td>
        <td class="text-center"> Porcentagem</td>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td id="cred1_tit"> <%= select_tag :cred1,options_for_select(Conta.where(ativo: true).map{|ccred| ["#{ccred.numero} - #{ccred.nome}",ccred.id]}),{include_blank: true , class: 'chosen-select'}  %>   </td>
        <td> <%= number_field_tag :porc1, step: :any %></td>
      </tr>

      <tr>
        <td> <%= select_tag :cred2,options_for_select(Conta.where(ativo: true).map{|ccred| ["#{ccred.numero} - #{ccred.nome}",ccred.id]}),{include_blank: true , class: 'chosen-select'} %>  </td>
        <td> <%= number_field_tag :porc2, step: :any %></td>
      </tr>

      <tr>
        <td> <%= select_tag :cred3, options_for_select(Conta.where(ativo: true).map{|ccred| ["#{ccred.numero} - #{ccred.nome}",ccred.id]}),{include_blank: true , class: 'chosen-select'} %>  </td>
        <td> <%= number_field_tag :porc3, step: :any %></td>
      </tr>

      <tr>
        <td> <%= select_tag :cred4, options_for_select(Conta.where(ativo: true).map{|ccred| ["#{ccred.numero} - #{ccred.nome}",ccred.id]}),{include_blank: true , class: 'chosen-select'}  %>   </td>
        <td> <%= number_field_tag :porc4, step: :any %></td>
      </tr>

      </tbody>

    </table>

    <%= submit_tag "Enviar", class: 'btn btn-primary active btn-sm' %>
    <%= link_to "Voltar", transferencias_path, class: 'btn btn-default btn sm' %>
<% end %>


























<!--

<hr>
<p> Data: < %= params[:data] %> </p>
<p> Data do documento: < %= params[:datadocumento] %> </p>

<p> Conta de debito: < %= params[:debito_id] %></p>
<p> Valor < %= number_to_currency(params[:valor].to_i) %></p>
<table class="table table-bordered">
  <tr>
    <td>Conta</td>
    <td>Porcentagem</td>
    <td>Valor</td>
  </tr>

  < % a = params[:valor].to_i %>
  <tr>
    <td>< %= params[:cred1] %> </td>
    <td>< %= params[:porc1] %> </td>
    <td>< %=number_to_currency((a / 100) * params[:porc1].to_i) if !params[:porc1].nil? %> </td>
  </tr>

  <tr>
    <td>< %= params[:cred2] %> </td>
    <td>< %= params[:porc2] %> </td>
    <td>< %= number_to_currency((a / 100) * params[:porc2].to_i)  if !params[:porc2].nil?%> </td>
  </tr>


  <tr>
    <td>< %= params[:cred3] %> </td>
    <td>< %= params[:porc3] %> </td>
    <td>< %= number_to_currency((a / 100) * params[:porc3].to_i) if !params[:porc3].nil? %> </td>
  </tr>

  <tr>
    <td>< %= params[:cred4] %> </td>
    <td>< %= params[:porc4] %> </td>
    <td>< %= number_to_currency((a / 100) * params[:porc4].to_i) if !params[:porc4].nil? %> </td>
  </tr>

</table>
-->