<%= form_for(@fonte_de_recursos) do |f| %>
  <% if @fonte_de_recursos.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fonte_de_recursos.errors.count, "error") %> prohibited this fonte_de_recursos from being saved:</h2>

      <ul>
      <% @fonte_de_recursos.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, 'Nome' %><br>
    <%= f.text_field :nome, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class: 'btn btn-primary active' %>
  </div>
<% end %>
