<script type="text/javascript">
    $(function() {
        $('#conta').dataTable({
            "iDisplayLength": 10,
            "ordering":  false,
            "aaSorting": [],
            "bLengthChange":false,
            "autoWidth":true,
            "columnDefs": [
              { "width": "900px" , "targets":[7] }
            ],
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });

    });
</script>


<h1> Contas</h1>

<table id="conta" class="table table-striped table-bordered">
  <thead>


    <tr>
      <th class="text-center">Numero</th>
      <th class="text-center">Nome</th>
      <th class="text-center">Observacao</th>
      <th class="text-center">Tipo de conta</th>
      <th class="text-center">Usuario</th>
      <th class="text-center">Centro de custo</th>
      <th class="text-center">Fonte de recurso</th>
      <th class="text-center"> Saldo </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contas.each do |conta| %>
      <tr>
        <td><%= conta.numero %></td>
        <td><%= conta.nome %></td>
        <td><%= conta.observacao %></td>
        <td><%= conta.tipo_de_conta.nome %></td>
        <td><%= conta.usuario.nome %></td>
        <td><%= conta.centro_de_custo.nome %></td>
        <td><%= conta.fonte_de_recurso.nome %></td>
        <% cred_conta = Lancamento.where("credito != ?", nil?).where(conta_id: conta.id).sum(:credito) %>
        <% deb_conta = Lancamento.where("debito != ?", nil?).where(conta_id: conta.id).sum(:debito) %>
        <% @saldo = cred_conta - deb_conta %>
        <% if @saldo < 0 %>
            <td style="color: red"> <%= number_to_currency(@saldo) %> </td>
        <% else %>
            <td> <%= number_to_currency(@saldo) %> </td>
        <% end %>
        <td class="text-center"><%= link_to 'Mostrar', conta, class: 'btn btn-primary active' %></td>
        <td class="text-center"><%= link_to 'Editar', edit_conta_path(conta), class: 'btn btn-default' %></td>
        <td class="text-center"> <%= link_to 'Desativar', desativar_path(conta), data: { confirm: 'Tem certeza?' },  class: 'btn btn-danger active'  %> </td>
        <td class="text-center"><%= link_to "Novo crédito" , new_lancamento_path(:tipo => "Crédito",:conta_id =>  conta.id), class: 'btn btn-primary active'  %></td>
        <td class="text-center"><%= link_to "Novo débito",  new_lancamento_path(:tipo => "Débito", :conta_id => conta.id), class: 'btn btn-danger active' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Conta', new_conta_path, class: 'btn btn-primary active' %>
