<script type="text/javascript">

    $('.chosen-select').chosen({
        no_results_text: "Nada encontrado:",
        placeholder_text_single: "Selecione ou digite uma opção",
        search_contains: true,
        width: '450px'
    });
</script>

<h3> Relatório por lançamentos </h3>
<%= form_tag relat_por_lanc_path, method: :get do %>

        <table class="table">
          <tr>
            <td> Centro de custo:  <%=  select_tag :centro_de_custo_id, options_for_select(CentroDeCusto.where(ativo:true).map{|ccus| [ccus.nome, ccus.id]}), include_blank: true, class: 'chosen-select' %> </td>
            <td> Conta:  <%= select_tag :conta_id,options_for_select(Conta.where(ativo: true).map{|cdeb| ["#{cdeb.numero} - #{cdeb.nome}", cdeb.id]}), include_blank: true , class: 'chosen-select' %></td>
          </tr>

          <tr>
            <td> A partir de: <%= date_field_tag :inicio %> </td>
            <td> Até: <%= date_field_tag :fim %></td>
          </tr>
        </table>

    <%= submit_tag "Enviar", class: "btn btn-primary active" %>

<% end %>