<script type="text/javascript">

    $('.chosen-select').chosen({
        no_results_text: "Nada encontrado:",
        placeholder_text_single: "Selecione ou digite uma opção",
        search_contains: true,
        width: '450px'
    });

</script>

<h3> Relatórios por conta </h3>

<%= form_tag relat_por_conta_path, method: :get do %>

    <table class="table">
      <tr>
        <td> Conta:  <%= select_tag :conta_id,options_for_select(Conta.where(ativo: true).map{|cdeb| ["#{cdeb.numero} - #{cdeb.nome}", cdeb.id]}), include_blank: true , class: 'chosen-select' %></td>
        <td> A partir de: <%= date_field_tag :inicio %></td>
        <td> Até: <%= date_field_tag :fim %> </td>
      </tr>
    </table>

    <%= submit_tag "Enviar", class: 'btn btn-primary active' %>

<% end %>
