<table class="table">
  <tr>
    <td class="text-left align-middle"><%= wicked_pdf_image_tag "logo_gecon.png" %> </td>
    <td></td>
    <td align="center"><h3 class="text-center"> Balancete consolidado  da disponiblidade financeira do ICB  </h3></td>
    <td></td>
    <td class="text-right align-middle"><%= wicked_pdf_image_tag "logo_icb_of.jpg", size: "75x75" %> </td>
  </tr>
</table>
<hr>
<p> Grupo: <%= @grupo.nome %> </p>
<p>  Até <%= @fim.strftime("%d/%m/%Y") %> </p>
<table class="table table-bordered table-striped">
  <tr>
    <td class="text-center">Centro de Custo</td>
    <td class="text-center">Saldo (R$) </td>
  </tr>
  <% @result.each do |r| %>
      <% valor =  calculaSaldo(r[1], r[2]).round(2)  %>
      <% if valor != 0.00 %>
      <tr>
        <td> <%= r[0] %> </td>
        <td> <%= number_to_currency(valor) %> </td>
      </tr>
      <% end %>
  <% end %>
</table>

<p class="text-right"> Saldo Total: <%= number_to_currency(@total) %>  </p>
<p class="text-center"> <%= wicked_pdf_image_tag "ass_jorge.png"  %> </p>