<p>
  <strong>Nomegecon:</strong>
  <%= @item_de_despesa.nomeGecon %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @item_de_despesa.nome %>
</p>

<p>
  <strong>Codigitado:</strong>
  <%= @item_de_despesa.codigitado %>
</p>

<%= link_to 'Editar', edit_item_de_despesa_path(@item_de_despesa), class: 'btn btn-primary active' %> |
<%= link_to 'Voltar', itens_de_despesa_path, class: 'btn btn-default' %>
