<script type="text/javascript">
    $(function() {
        $('#tipo_conta').dataTable({
            "iDisplayLength": 10,
            "ordering":  false,
            "aaSorting": [],
            "bLengthChange":false,
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });

    });
</script>

<h1>Tipos De Conta</h1>

<table id="tipo_conta" class=" table table-striped table-bordered">
  <thead>
    <tr>
      <th class="text-center">Id</th>
      <th class="text-center">Nome</th>
      <th class="text-center">Grupo</th>
      <th></th>
      <% if session[:usuario_tipo] != "Controladoria" %>
          <th></th>
          <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tipos_de_conta.each do |tipo_de_conta| %>
      <tr>
        <td class="text-center"> <strong><%= tipo_de_conta.id %></strong></td>
        <td><%= tipo_de_conta.nome %></td>
        <td><%= tipo_de_conta.grupo.nome %></td>
        <td class="text-center"><%= link_to 'Mostrar', tipo_de_conta, class: 'btn btn-primary active' %></td>
        <% if session[:usuario_tipo] != "Controladoria" %>
            <td class="text-center"><%= link_to 'Editar', edit_tipo_de_conta_path(tipo_de_conta), class: 'btn btn-default' %></td>
            <td class="text-center">
              <% if tipo_de_conta.ativo == true %>
                  <%= link_to 'Desativar', desativa_tipo_conta_path(tipo_de_conta), data: { confirm: 'Tem certeza?' } , class: 'btn btn-danger active' %>
              <% else %>
                  <%= link_to 'Ativar', ativa_tipo_conta_path(tipo_de_conta), data: { confirm: 'Tem certeza?' } , class: 'btn btn-success active' %>
              <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tipo de conta', new_tipo_de_conta_path, class:'btn btn-primary active' if session[:usuario_tipo] != "Controladoria" %>
