<script type="text/javascript">
    $('#marca_tudo').click(function() {
        $('input:checkbox').not(this).prop('checked', this.checked)
    })
</script>

<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, "Nome" %><br>
    <%= f.text_field :nome, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, "E-mail" %><br>
    <%= f.text_field :email, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tipo,"Tipo"  %><br>
    <%= f.select :tipo, options_for_select(["Administrador", "Comum", "Gerente"], selected: f.object.tipo ), {}, include_blank: true, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.check_box :ativo  %> <%= f.label :ativo %>
  </div>
  <div class="form-group">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :departamento, "Departamento" %><br>
    <%= f.select :departamento, Departamento.all.map{|dep| [dep.nome, dep.id]}, {include_blank: true}, {class: 'form-control'} %>
  </div>
  <div id="form-group">
    <h3> Associação de gerência</h3>
    <p> Caso o usuário seja diretor ou gerente, escolha os departamemtos que esse usuário gerencia</p>
    <%= check_box_tag 'marca_tudo' %> <strong> Todos os departamentos </strong>
    <%= f.collection_check_boxes :departamento_ids, Departamento.all, :id, :nome do |b| %>

        <div class="collection_check_box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
    <% end %>
  </div>

    <div class="actions">
      <%= f.submit "Enviar", class: 'btn btn-primary active' %>
    </div>

<% end %>
