<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @usuario.tipo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @usuario.ativo == true ? "Sim" : "Não" %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @usuario.telefone %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @departamento.nome %>
</p>

<% if !@usuario.departamentos.empty? %>
    <h3> Departamentos associados a esse gerente</h3>
    <ul>
    <% @usuario.departamentos.each do |dep| %>
      <li><%= dep.nome %></li>
    <% end %>
    </ul>
<% else %>
    <p> Esse usuário não é gerente </p>
<% end %>




<%= link_to 'Editar', edit_usuario_path(@usuario), class: 'btn btn-primary active' if session[:usuario_tipo] != "Controladoria"  %>
<%= link_to 'Voltar', usuarios_path, class: 'btn btn-default' %>
