<p id="notice"><%= notice %></p>

<h1>Listing Fontes De Recurso</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fontes_de_recurso.each do |fonte_de_recurso| %>
      <tr>
        <td><%= fonte_de_recurso.nome %></td>
        <td><%= link_to 'Show', fonte_de_recurso %></td>
        <td><%= link_to 'Edit', edit_fonte_de_recurso_path(fonte_de_recurso) %></td>
        <td><%= link_to 'Destroy', fonte_de_recurso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fonte de recurso', new_fonte_de_recurso_path %>
