<!DOCTYPE html>
<html>
<head>
  <title>Gecon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <h4 class="nav navbar-text"> <span id="tutulo"> Sistema Gecon </span>  </h4>
  <ul class="nav navbar-nav">
    <li> <%= link_to "Tipos de Compra" , tipos_de_compra_path %> </li>
    <li> <%= link_to "Fontes de Recursos", fontes_de_recurso_path %> </li>
    <li> <%= link_to "Centros de Custo", centros_de_custo_path %> </li>
    <li> <%= link_to "Grupos", grupos_path %> </li>
    <li> <%= link_to "Tipos de Contas", tipos_de_conta_path %> </li>
    <li> <%= link_to "Fornecedores", fornecedores_path %> </li>
  </ul>

</nav>


<% if notice.present? %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
